@LD:registry=https://nexus.ld3.xyz/repository/lingdi-npm-snapeshots/
//nexus.ld3.xyz/repository/lingdi-npm-snapeshots/:_auth=bGluZ2RpLW5wbTpSYjdDdmtLS3F2cW1WTUNl
//nexus.ld3.xyz/repository/lingdi-npm-snapeshots/:always-auth=true